[submodule "libimobiledevice"]
	path = libimobiledevice
	url = https://github.com/libimobiledevice/libimobiledevice
[submodule "libplist"]
	path = libplist
	url = https://github.com/libimobiledevice/libplist
[submodule "libusbmuxd"]
	path = libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd
[submodule "OpenSSL"]
	path = OpenSSL
	url = https://github.com/krzyzanowskim/OpenSSL
[submodule "libimobiledevice-glue"]
	path = libimobiledevice-glue
	url = https://github.com/libimobiledevice/libimobiledevice-glue
